.my-button {
  background-color: black;
  box-shadow: 5px 5px 10px gray;
  height: 200px;
  width: 200px;
  transition: all 0.5s;

  h3 {
    text-shadow: 2px 2px 2px black;
    font-weight: bold;
  }

  &:hover {
    box-shadow: 5px 5px 20px rgb(87, 87, 87);
    transform: translateY(-0.5em) translateX(0.2em) rotate(2deg);
  }
}
